<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(<%= image_path 'post-bg.jpg' %>)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <% @posts.each do |post| %>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%= link_to post do %>
                      <h2 class="section-heading"><%= post.title %></h2>
                    <% end %>
                     <p class="post-meta" style="color: grey; margin-top: -10px;"><em>Posted by <%= post.user.full_name %> on <%= post.created_at.strftime("%A %B %d") %></em></p>
                      <% unless current_user.blank? %>
                        <% if current_user.id == post.user.id %>
                          <%= link_to 'Show', post %>
                          <%= link_to 'Edit', edit_post_path(post) %>
                          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% else %>
                        <% end %>
                      <% end %>
                </div>
            </div>
            
        </div>
    </article>
       
       
    <hr>
    <% end %>
<br>
<ul class="pager">
  <li class="next">
    <%= will_paginate @posts %>
  </li>
</ul>

