<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(<%= image_path 'post-bg.jpg' %>)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Man must explore, and this is exploration at its greatest</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>


<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                      <h2 class="section-heading"><%= @post.title %></h2>
                    
                     <p class="post-meta">Posted by <%= @post.user.full_name %> on September 24, 2014</p>
                     <hr>
                     <p><%= @post.body %></p>
                     <%= link_to 'Back', posts_path %>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <%= render 'posts/disqus' %>
            </div>
        </div>
    </article>